# キャッシュ
**/__pycache__/
*.py[cod]

# HTMLファイル
*.html

# PNGファイル
*.png

# .pklファイル
# （Pythonのpickle形式で保存されたデータファイル）
*.pkl

# .pthファイル
# （PyTorchのモデルファイルや、Pythonパス指定ファイル）
*.pth

# .csvファイル
*.csv

# ガントチャートのIPython Notebook
gantt.ipynb

# プロファイラ
working/perf/*

# 簡易テスト用ファイル
working/my_instant_test.py
